#exec-img {
    margin: 16px auto 0;
    border-radius: 50%;
    width: auto;
    max-width: 100%;
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.06);
}
